{
  "version": "2018-05-29",
  "operation": "GetItem",
  "key": #if( $modelObjectKey ) $util.toJson($modelObjectKey) #elseif($ctx.args.input.id) {
  "id": $util.dynamodb.toDynamoDBJson($ctx.args.input.id) } #else {
  "id": $util.dynamodb.toDynamoDBJson($ctx.args.id) } #end
}