node_modules
dist
.expo
.expo-shared
web-build
patches
babel.config.js
components/Icon/typegenerator.js
amplify
webpack.config.js
/models
navigation/BottomNavigation.tsx
navigation/TabIndicator.tsx


src/models
