{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "rules": {
        "react/require-default-props": "off", //defaultProps est en cours de dépréciation https://github.com/reactjs/rfcs/pull/107
        "no-param-reassign": "off", //obligatoire pour faire fonctionner le système de mutation de DataStore
        "@typescript-eslint/no-use-before-define": ["error", { "functions": true, "classes": true, "variables": false }] // disable the rule for variables, but enable it for functions and classes
    },
    "extends": [
        "airbnb-typescript"
    ],
    "plugins": [
        "@typescript-eslint"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        },
        "import/extensions": [
            ".js",
            ".jsx",
            ".ts",
            ".tsx",
            ".mjs",
            ".json",
            ".ttf"
        ]
    },
    "env": {
        "es6": true
    }
}
